<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>MasterServlet</servlet-name>
  	<servlet-class>com.revature.request.MasterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MasterServlet</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AjaxServlet</servlet-name>
  	<servlet-class>com.revature.ajax.AjaxServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Login</display-name>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>com.revature.servlets.Login</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateInfo</display-name>
  	<servlet-name>UpdateInfo</servlet-name>
  	<servlet-class>com.revature.servlets.UpdateInfo</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Logout</display-name>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>com.revature.servlets.Logout</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RequestReimbursement</display-name>
  	<servlet-name>RequestReimbursement</servlet-name>
  	<servlet-class>com.revature.servlets.RequestReimbursement</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewAllByEmployee</display-name>
  	<servlet-name>ViewAllByEmployee</servlet-name>
  	<servlet-class>com.revature.servlets.ViewAllByEmployee</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewPendingByEmployee</display-name>
  	<servlet-name>ViewPendingByEmployee</servlet-name>
  	<servlet-class>com.revature.servlets.ViewPendingByEmployee</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewResolvedByEmployee</display-name>
  	<servlet-name>ViewResolvedByEmployee</servlet-name>
  	<servlet-class>com.revature.servlets.ViewResolvedByEmployee</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewAllByEmployeeSearch</display-name>
  	<servlet-name>ViewAllByEmployeeSearch</servlet-name>
  	<servlet-class>com.revature.servlets.ViewAllByEmployeeSearch</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewAllPending</display-name>
  	<servlet-name>ViewAllPending</servlet-name>
  	<servlet-class>com.revature.servlets.ViewAllPending</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewAllResolved</display-name>
  	<servlet-name>ViewAllResolved</servlet-name>
  	<servlet-class>com.revature.servlets.ViewAllResolved</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewAllEmployees</display-name>
  	<servlet-name>ViewAllEmployees</servlet-name>
  	<servlet-class>com.revature.servlets.ViewAllEmployees</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ApproveReimbursement</display-name>
  	<servlet-name>ApproveReimbursement</servlet-name>
  	<servlet-class>com.revature.servlets.ApproveReimbursement</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>asdf</display-name>
  	<servlet-name>asdf</servlet-name>
  	<servlet-class>com.revature.servlets.asdf</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>DenyReimbursement</display-name>
  	<servlet-name>DenyReimbursement</servlet-name>
  	<servlet-class>com.revature.servlets.DenyReimbursement</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AjaxServlet</servlet-name>
  	<url-pattern>*.ajax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateInfo</servlet-name>
  	<url-pattern>/UpdateInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RequestReimbursement</servlet-name>
  	<url-pattern>/RequestReimbursement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllByEmployee</servlet-name>
  	<url-pattern>/ViewAllByEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewPendingByEmployee</servlet-name>
  	<url-pattern>/ViewPendingByEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewResolvedByEmployee</servlet-name>
  	<url-pattern>/ViewResolvedByEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllByEmployeeSearch</servlet-name>
  	<url-pattern>/ViewAllByEmployeeSearch</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllPending</servlet-name>
  	<url-pattern>/ViewAllPending</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllResolved</servlet-name>
  	<url-pattern>/ViewAllResolved</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllEmployees</servlet-name>
  	<url-pattern>/ViewAllEmployees</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ApproveReimbursement</servlet-name>
  	<url-pattern>/ApproveReimbursement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>asdf</servlet-name>
  	<url-pattern>/asdf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>DenyReimbursement</servlet-name>
  	<url-pattern>/DenyReimbursement</url-pattern>
  </servlet-mapping>
</web-app>