<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>ERS</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
  	<servlet-name>MasterServlet</servlet-name>
  	<servlet-class>com.revature.request.MasterServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>MasterServlet</servlet-name>
  	<url-pattern>*.do</url-pattern>
  </servlet-mapping>
  
  <servlet>
  	<servlet-name>AjaxServlet</servlet-name>
  	<servlet-class>com.revature.ajax.AjaxServlet</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Login</display-name>
  	<servlet-name>Login</servlet-name>
  	<servlet-class>com.revature.servlets.Login</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>UpdateInfo</display-name>
  	<servlet-name>UpdateInfo</servlet-name>
  	<servlet-class>com.revature.servlets.UpdateInfo</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>Logout</display-name>
  	<servlet-name>Logout</servlet-name>
  	<servlet-class>com.revature.servlets.Logout</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>RequestReimbursement</display-name>
  	<servlet-name>RequestReimbursement</servlet-name>
  	<servlet-class>com.revature.servlets.RequestReimbursement</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewAllByEmployee</display-name>
  	<servlet-name>ViewAllByEmployee</servlet-name>
  	<servlet-class>com.revature.servlets.ViewAllByEmployee</servlet-class>
  </servlet>
  <servlet>
  	<description>
  	</description>
  	<display-name>ViewPendingByEmployee</display-name>
  	<servlet-name>ViewPendingByEmployee</servlet-name>
  	<servlet-class>com.revature.servlets.ViewPendingByEmployee</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>AjaxServlet</servlet-name>
  	<url-pattern>*.ajax</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Login</servlet-name>
  	<url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>UpdateInfo</servlet-name>
  	<url-pattern>/UpdateInfo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>Logout</servlet-name>
  	<url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>RequestReimbursement</servlet-name>
  	<url-pattern>/RequestReimbursement</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewAllByEmployee</servlet-name>
  	<url-pattern>/ViewAllByEmployee</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewPendingByEmployee</servlet-name>
  	<url-pattern>/ViewPendingByEmployee</url-pattern>
  </servlet-mapping>
</web-app>