<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <servlet>
  	<servlet-name>Servlet</servlet-name>
  	<display-name>Servlet</display-name>
  	<description></description>
  	<servlet-class>ers.Servlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>EmployeeServlet</servlet-name>
  	<display-name>EmployeeServlet</display-name>
  	<description></description>
  	<servlet-class>ers.EmployeeServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>OpenReimbServlet</servlet-name>
  	<display-name>OpenReimbServlet</display-name>
  	<description></description>
  	<servlet-class>ers.OpenReimbServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewOwnRequestsServlet</servlet-name>
  	<display-name>ViewOwnRequestsServlet</display-name>
  	<description></description>
  	<servlet-class>ers.ViewOwnRequestsServlet</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ViewClosedReimbsServlet</servlet-name>
  	<display-name>ViewClosedReimbsServlet</display-name>
  	<description></description>
  	<servlet-class>ers.ViewClosedReimbsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Servlet</servlet-name>
  	<url-pattern>/Servlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>EmployeeServlet</servlet-name>
  	<url-pattern>/EmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>OpenReimbServlet</servlet-name>
  	<url-pattern>/OpenReimbServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewOwnRequestsServlet</servlet-name>
  	<url-pattern>/ViewOwnRequestsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ViewClosedReimbsServlet</servlet-name>
  	<url-pattern>/ViewClosedReimbsServlet</url-pattern>
  </servlet-mapping>
</web-app>
